<nav class="navbar p-4">
  <a href="/home"><button class="btn">Home</button></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for Candidate" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
  <a href="/users/viewall"><button class="btn">View All Candidates</button></a>
  <a href="/users/registercandidate"><button class="btn">Add Candidate</button></a>
  <a href="/logout"><button class="btn">Logout</button></a>
</nav>

<h1>Welcome {{membername}}</h1>

<div id="cands">
  <ul id="candslist">
    {{#each candidates}}
    <li>
      <p>{{firstName}} {{lastName}}</p>
      <ul class="jobslist">
        {{#each jobs}}
        <li>
          <p>{{company}}, {{position}}</p>
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
</div>

<footer>
  <p>&copy; 2019</p>
</footer>


<script type="text/javascript" src="/js/navbar.js"></script>