<nav class="navbar p-4">
  <a href="/home"><button class="btn">Home</button></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for Candidate" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
  <a href="/users/viewall"><button class="btn">View All Candidates</button></a>
  <a href="/users/registercandidate"><button class="btn">Add Candidate</button></a>
  <a href="/logout"><button class="btn">Logout</button></a>
</nav>



<div class="row mt-5" style="max-width: 1200px; margin:auto">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1>{{candidate.firstName}}
        {{candidate.lastName}}</h1>
      <h3 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Job Prospects</h3>
      <img id="card-logo" src="/imgs/hound.png">
      <hr>
      <table id="job-list" class="table-hover">
        <thead>
          <tr>
            <th scop="col">Company</th>
            <th scop="col">Position</th>
          </tr>
        </thead>
        <tbody>
          {{#each jobs}}
          <tr>
            <td>{{company}}</td>
            <td>{{position}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/user/{{candidate.id}}/addjob"><button class="btn btn-block" id="addJob">Add a Job</button></a>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/navbar.js"></script>